* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    background-color: aliceblue;
}

.header h2 {
    font-weight: 400;
}

.header h1 {
    font-weight: 600;
}

.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 45%;
    text-align: center;
}

.header p {
    margin-top: 20px;
    text-align: center;
}

.header .light {
    font-weight: 200;
}

.content {
    max-width: 120rem;
    margin: 40px auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 89vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
}

.card {
    background-color: tomato;
    margin: 10px;
    width: 250px;
    height: 175px;
    border-radius: 3%;
    border-top: 4px solid black;
    box-shadow: -5px 10px 10px #d8d8d8;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.card:nth-child(1){
    grid-row: 2 / 4;
    grid-column: 1;
    border-color: hsl(180, 62%, 55%);
}

.card:nth-child(2){
    grid-row: 1 / 3;
    grid-column: 2;
    border-color: hsl(0, 78%, 62%);
}

.card:nth-child(3){
    grid-row: 3 / 5;
    grid-column: 2;
    border-color: hsl(34, 97%, 64%);
}

.card:nth-child(4){
    grid-row: 2 / 4;
    grid-column: 3;
    border-color: hsl(212, 86%, 64%);
}

.card h3 {
    font-weight: 600;
    font-size: 2.3rem;
}

.card p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 1.3rem;
    color: rgb(161, 161, 161);
}

.card .img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 30px;
}

.card .img img {
    width: 20%;
}

@media (max-width: 940px){

    .grid {
        grid-template-columns: 1fr;
    }

    .card:nth-child(1){
        grid-row: auto;
        grid-column: 1;
    }

    .card:nth-child(2){
        grid-row: auto;
        grid-column: 1;
    }

    .card:nth-child(3){
        grid-row: auto;
        grid-column: 1;
    }

    .card:nth-child(4){
        grid-row: auto;
        grid-column: 1;
    }

    .header{
        max-width: 100%;
    }
}

@media (max-width: 530px){

    .header{
        max-width: 80%;
    }
}